body
{
    background-image: linear-gradient(rgb(82, 231, 82), rgb(58, 177, 58), rgb(8, 141, 8));
}

#t1
{
    background-color: green;
    color: khaki;
    margin-top: -10px;
    font-size: 90px;
    text-shadow:
    -2px -2px 1px rgb(233, 10, 10), 
    -2px -2px 1px rgb(233, 10, 10),                    
    -2px -2px 1px rgb(233, 10, 10),                  
    -2px -2px 1px rgb(233, 10, 10);
    font-style: italic;
}

#esquerda
{
    float: left;
    height: 505px;
    width: 50%;
    margin: 0 auto;
}

#direita
{
    float: right;
    height: 505px;
    width: 50%;
}

#logo
{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: 250px;
    margin-top: -50px;
    margin-bottom: -40px; 
}

form
{
    width: 20px;
    height: 10px;
    margin-left: 80px;
    margin-top: -25px;
    margin-bottom: 0px;
}

fieldset
{
    border-color: black;
    border-radius: 20px;
}

#t2
{
    font-size: 40px;
    margin-left: 150px;
    margin-top: 50px;
    color:black;
    text-shadow:
    -2px -2px 1px white, 
    -2px -2px 1px white,               
    -2px -2px 1px white,                  
    -2px -2px 1px white;
    margin-bottom: 0px;
    font-style: italic;
}

#t3
{
    font-size: 25px;
    color: black;
    text-shadow:
    -2px -2px 1px white, 
    -2px -2px 1px white,               
    -2px -2px 1px white,                  
    -2px -2px 1px white;
    font-style: italic;
}

#p1
{
    margin-top: -30px;
    margin-left: 200px;
    font-size: 20px;
    font-style: oblique;
}

#p2
{
    margin-left: 200px;
    font-size: 20px;
    font-style: oblique;
    margin-top: -30px;
    margin-bottom: 0px;
}

#p3{
    margin-left: 200px;
    font-size: 20px;
    font-style: oblique;
    margin-top: -30px;
}

label
{
    font-size: 19px;
    font-style: oblique;
}

input
{
    width: 300px;
    height: 20px;
}

button
{
    width: 100px;
    border-radius: 10px;
    margin-left: 230px;
    margin-bottom: 10px;
    margin-top: 0px;
}

#mensa
{
    margin-left: 160px;
    margin-top: 10px;
}

#loca
{
    margin-left: 160px;
    margin-top: 0px;
}

#fone
{
    margin-left: 160px;
    margin-top: 30px;
}

#insta
{
    margin-left: 280px;
    margin-top: -100px;
    border-radius: 15px;
}

#face
{
    border-radius: 10px;
    margin-left: 10px;
}

#zap
{
    border-radius: 10px;
    margin-left: 10px;
}

#siga
{
    font-style: oblique;
    font-size: 25px;
    margin-left: 160px;
    margin-bottom: -25px;
}

footer
{
    margin-top: 0px;
    color: white;
    text-shadow:
    1px 1px 0px black, 
    1px 1px 0px black,               
    1px 1px 0px black,                  
    1px 1px 0px black;
}