body {
    padding: 0%;
    width: 2%;
    background-image: url("imagens/fundologin.jpg");
    background-size: cover;
  
}

.ladoesq {

    background-color: #447a29;
    width:29%;
    height:67%;
    border: 1%;
    border-radius: 13%;
    background-color: #71cf62;
    top: 15.5%;
    left: 22%;
    position: absolute;

    
}

.botaoesquerdo {

    margin-top: 1%;
    margin-left: 14%;
    width: 26%;
    height: 49%;
  
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 255, 0.39);
    font-size: 90%;
    
}

#botaoesquerdodois {

    margin-left: 14%;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0.705);
    position: inherit;

   
}

h2 {

    margin-left: -15%;
    margin-top: 12%;
    color: rgb(238, 255, 0);
    text-shadow: -2px -1px 0.5px rgba(2, 3, 7, 0.747);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: initial;
    font-size: 160%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}

p {
    color: rgb(0, 0, 0);
    margin-left: 2%;
    margin-top: -6%;
    font-size: 86%;
    font-family:  "Menlo, Monaco, 'Courier New', monospace";
  
  

}

#cadastre2 {

    font-family: Arial, Helvetica, sans-serif;
    background-color:#0b0f0252; 
    margin-left: 26%;
    margin-top: 7%;  
    width: 34%;
    height: 28px;
    font-size: 100%;

    

}

.fotopequena {

    width: 20%;
    height: 12%;
    margin-left: 33%;
    margin-top: -1%;
}

input[type=button] {
    
    font-size: larger 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 15px;
    width: 60%;
    height: 5.5%;
    border: none rgba(255, 255, 255, 0.205);
}

.lado {

     
    margin-right: 400%;
    margin-left: 48%;
    top: 15%;
    width: 27%;
    height: 68%;
    border: 0.5%;
    border-radius: 50px;
    background-color: rgb(240, 238, 223);
    position: fixed;
  
}

form {

    margin-top: -17%;
    margin-bottom: 20%;
    margin-left: 13%;
}

.fotoprincipal {

    margin-top: 10%;
}

.botão {

    margin-left: 47%;
    background-color: rgba(158, 157, 157, 0.664);
    border-radius: 0px;
    width: 78px;
    height: 25px;
    margin-top: 12%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}



.esqueceusenha {

    font-family: Arial, sans-serif;
    font-size: 75%;
    margin-top: 7%;
   margin-left: 12%;
    font-style: normal;
 
}

.dados {

    border: none;
    border-bottom: 2px solid #3e8f31;
    background-color: rgba(206, 206, 206, 0.124);
    height: 24px;
    width: 220px;
    margin-top: 29%;
    border-radius: 5px;
    margin-left: 3%;
    
    
}

input[type=submit] {

    border: none;
    background-color: rgba(0, 0, 0, 0.123);
    font-style: bolder;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid #3d8f31;
    border-radius: 5px;
}

#fotolado {

    width: 28%;
    margin-top: 8%;
    margin-left: 35%;
    border-radius: 10%;
}